%rebase('navigacija.html', naslov='Brskalnik')
<style>
    input[type="number"] {
    width: 80%;
    }
  </style>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Brskalnik</h1>
  <div class=row> 
    <div class="col-lg-6 mb-4">
          <form class="user" role="form" method="post" action=".">
            <!-- napaka nastavljena po defaultu nastavljena na None, ob nepravilnem vpisu javi napako -->
            <!-- placeholder: kar je napisano v okencku; name: ime, ki ga damo temu inputu; if username: ce je pri klicu templeta definiran usernam, ga kar vzamemo kot vrednost inputa, po defaultu je sicer nastavljen na None-->
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label>Število igralcev</label><input type="number" class="form-control form-control-sm"
                    name="st_igralcev">
                    <br>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label>Maximalen čas igranja (v minutah)</label><input type="number" class="form-control form-control-sm" placeholder=""
                    name="cas">
                    <br>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label>Minimalna starost članov ekipe</label><input type="number" class="form-control form-control-sm" placeholder=""
                    name="starost">
                    <br>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label>Leto izdaje</label><input type="number" class="form-control form-control-sm" placeholder=""
                    name="leto">
                    <br>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
            <button class="btn btn-primary" type="submit" style="width: 100px;">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
          </form>
        </div>

    <div class="col-lg-6 mb-4">

          <form class="user" role="form" method="post" action=".">
          <div class="col-sm-12 col-md-6">
              <div class="card-body">
                <a class="btn btn-light btn-icon-split bg-gray-500" href="/brskalnik/avtor/">
                  <span class="icon text-gray-600">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Pojdi na brskalnik za avtorje</span>
                </a>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->