%rebase('osnova.html', naslov='Seznam iger')

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>ID</th>
     <th>Ime igre</th>
     <th>Min. št. igralcev</th>
     <th>Max. št. igralcev</th>
     <th>Min. čas igranja</th>
     <th>Max. čas igranja</th>
     <th>Leto izdaje</th>
     <th>Min. starost</th>
  </tr>
  %for (id, ime, minst, maxst, mincas, maxcas, leto, starost) in igre:
    <tr>
       <td>{{id}}</td>
       <td>{{ime}}</td>
       <td>{{minst}}</td>
       <td>{{maxst}}</td>
       <td>{{mincas}}</td>
       <td>{{maxcas}}</td>
       <td>{{leto}}</td>
       <td>{{starost}}</td>
    </tr>
  %end
  </table>