%rebase('navigacija.html', naslov='Seznam iger')
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Družabne igre</h1>
  <p class="mb-4">Podatkovna baza družabnih iger in njihovih dodatkov</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Rezultati poizvedbe</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                  <th>ID igre</th>
                  <th>Ime igre</th>
                  <th>Število igralcev</th>
                  <th>Čas igranja</th>
                  <th>Min. starost</th>
                  <th>Leto izdaje</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>ID igre</th>
                    <th>Ime igre</th>
                    <th>Število igralcev</th>
                    <th>Čas igranja</th>
                    <th>Starost</th>
                    <th>Leto izdaje</th>
                </tr>
              </tfoot>
              <tbody>
                  %for serijska, ime, min_igralcev, max_igralcev, min_cas, max_cas, leto_izdaje, starost, dodatek in igre:
                  <tr>
                    <td>{{serijska}}</td>
                    <td>
                        <a href="/igra/{{ime}}">{{ime}}</a>
                    </td>
                    <td data-order="{{(0 if min_igralcev is None else min_igralcev)}}">
                        %if min_igralcev == None:
                        {{""}}
                        %elif max_igralcev == min_igralcev:
                        {{str(min_igralcev)}}
                        %else:
                        {{str(min_igralcev) + ' - ' + str(max_igralcev)}}
                        %end
                      </td>
                    </td>
                    <td data-order="{{(0 if min_cas is None else min_cas)}}">
                      %if min_cas == None:
                      {{""}}
                      %elif max_cas == None:
                      {{str(min_cas) + " min"}}
                      %else:
                      {{str(min_cas) + ' - ' + str(max_cas) + " min"}}
                      %end
                    </td>
                    <td data-order="{{(0 if starost is None else starost)}}">
                      %if starost == None:
                      {{""}}
                      %else:
                      {{str(starost) + " let"}}</td>
                      %end
                    <td>{{leto_izdaje}}</td>
                  </tr>
                  %end 
              </tbody>
        </table>
      </div>
    </div>
  </div>

</div>