%rebase('navigacija.html', naslov='Seznam iger')
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Družabne igre</h1>
  <p class="mb-4">Podatkovna baza družabnih iger in njihovih dodatkov</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Rezultati poizvedbe</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                  <th>ID igre</th>
                  <th>Ime igre</th>
                  <th>Število igralcev</th>
                  <th>Čas igranja</th>
                  <th>Min. starost</th>
                  <th>Leto izdaje</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>ID igre</th>
                    <th>Ime igre</th>
                    <th>Število igralcev</th>
                    <th>Čas igranja</th>
                    <th>Starost</th>
                    <th>Leto izdaje</th>
                </tr>
              </tfoot>
              <tbody>
                  %for igra in igre:
                  <tr>
                    <td>{{igra[0]}}</td>
                    <td>
                        <a href="/igra/{{igra[1]}}">{{igra[1]}}</a>
                    </td>
                    <td>
                        %if igra[2] == None:
                        {{""}}
                        %elif igra[3] == igra[2]:
                        {{str(igra[2])}}
                        %else:
                        {{str(igra[2]) + ' - ' + str(igra[3])}}
                        %end
                      </td>
                    </td>
                    <td>
                      %if igra[4] == None:
                      {{""}}
                      %elif igra[5] == None:
                      {{str(igra[4]) + " min"}}
                      %else:
                      {{str(igra[4]) + ' - ' + str(igra[5]) + " min"}}
                      %end
                    </td>
                    <td>
                      %if igra[7] == None:
                      {{""}}
                      %else:
                      {{str(igra[7]) + " let"}}</td>
                      %end
                    <td>{{igra[6]}}</td>
                  </tr>
                  %end 
              </tbody>
        </table>
      </div>
    </div>
  </div>

</div>